<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="logo">
                <img src="../images/logo.svg" alt="logo - flower">
                <div class="name">Bloom</div>
            </div>
            <div class="inputs">
                <form class="login">
                    <input name="username" type="text" placeholder="Username">
                    <input name="password" type="password" placeholder="Password">
                    <button class="login-btn">Login</button>
                </form>
                <a class="bottom" href="register.html">I don't have an account</a>
            </div>
        </div>
    </div>
</body>
</html>