<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="public/css/styles-profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="name">Bloom</div>
            <div class="options">
                <div class="option">
                    <img src="public/images/garden.svg" alt="garden icon">
                    <a href="garden">Garden</a>
                </div>
                <div class="option">
                    <img src="public/images/plant.svg" alt="add plant icon">
                    <a href="addPlant">Add plant</a>
                </div>
                <div class="option">
                    <img src="public/images/search.svg" alt="search icon">
                    <a href="search">Search</a>
                </div>
                <div class="option">
                    <img src="public/images/friends.svg" alt="friends icon">
                    <a href="friends">Friends</a>
                </div>
                <div class="option active">
                    <img src="public/images/profile.svg" alt="profile icon">
                    <a href="profile">Profile</a>
                </div>
                <div class="option">
                    <img src="public/images/logout.svg" alt="logout icon">
                    <a href="login">Logout</a>
                </div>
            </div>
        </div>
        <div class="main"></div>
    </div>
</body>
</html>