<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="public/css/styles-login-register.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Megrim">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="inputs">
                <div class="name">Bloom</div>
                <form class="register-form">
                    <input name="username" type="text" placeholder="Username">
                    <input name="email" type="email" placeholder="Email@email.com">
                    <input name="password" type="password" placeholder="Password">
                    <input name="password" type="password" placeholder="Password">
                    <button class="login-btn">Register</button>
                </form>
                <a class="account" href="login">I have an account</a>
            </div>
        </div>
    </div>
</body>
</html>