
:root {
    --black: #000000;
    --red: #FF0C63;
    --white: #FFFFFF;
}

* {
    font-family: Megrim, serif;
    box-sizing: border-box;
}

.people {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.person {
    height: 80px;
    border: solid 2px var(--white);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 25px;
    align-items: center;
}

.person .name {
    font-size: 2rem;
    overflow: hidden;
}

.person div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.4rem;
}

.person .invite-options {
    display: flex;
}

.person form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.person button {
    width: 75%;
    height: 40px;
    background: var(--red);
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
}

@media (max-width: 1150px) {
    .people {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0 25px 25px;
    }

    .person {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .person .invite-options {
        width: 100%;
    }

    .person div {
        font-size: 1.1rem;
    }
}