
:root {
    --black: #000000;
    --red: #FF0C63;
    --white: #FFFFFF;
}

* {
    font-family: Megrim, serif;
    box-sizing: border-box;
}

.main {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.people {
    margin: 30px 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    padding: 0 30px 30px;
    box-sizing: border-box;
}

.person {
    height: 200px;
    border: solid 2px var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.person div {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 1.4rem;
}

.person form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.person button {
    width: 75%;
    height: 40px;
    background: var(--red);
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
}

.person button.added {
    background: var(--black);
    border: var(--red) 2px solid;
    color: var(--red);
}

@media (max-width: 1150px) {
    .people {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0 25px 25px;
    }

    .person {
        height: 250px;
    }

    .person div {
        font-size: 1.1rem;
    }
}