
:root {
    --black: #000000;
    --red: #FF0C63;
    --white: #FFFFFF;
}

* {
    font-family: Megrim, serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    gap: 100px;
}

img {
    width: 100%;
    margin-bottom: -16px;
}

.name {
    text-align: center;
    font-size: 6.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 12px;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
}

input {
    background: transparent;
    outline: none;
}

.login-btn {
    background: var(--red);
    color: var(--black);
}

input, .login-btn {
    border-radius: 40px;
    border: 3px solid var(--red);
    font-size: 3.5rem;
    height: 96px;
    padding: 0;
}

.account {
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 20px;
    padding: 12px;
}

.name, input, input::placeholder, a, .messages {
    color: var(--red);
    text-align: center;
}

.no-valid {
    background-color: var(--red);
    color: var(--black);
}

input:focus {
    outline: 1px solid var(--red);
}

.login-btn:hover {
    color: var(--red);
    background: var(--black);
}

.account:hover {
    color: var(--black);
    background: var(--red);
}

@media (max-width: 1150px) {
    .content {
        align-items: center;
        flex-direction: column;
        height: unset;
        gap: 14px;
    }

    .name {
        font-size: 4rem;
    }

    .inputs {
        gap: 12px;
    }

    .login-form, .register-form {
        gap: 22px;
    }

    .register-form {
        min-width: unset;
    }

    input, .login-btn {
        font-size: 2rem;
        height: 58px;
    }

    .account {
        font-size: 1.2rem;
    }
}