
:root {
    --black: #000000;
    --red: #FF0C63;
    --white: #FFFFFF;
}

* {
    font-family: Megrim, serif;
    box-sizing: border-box;
}

.top-name {
    color: var(--red);
    font-size: 4.5rem;
    margin: 20px 0;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    color: var(--black);
    margin: 0 0 30px;
}

.top-bar a {
    text-decoration: none;
}

.search-bar {
    height: 60px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border-radius: 20px;
    padding: 0 10px;
}

.single {
    width: 100%;
}

.search-bar input {
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 2rem;
    padding: 10px;
}

.search-bar button {
    background: transparent;
    height: 100%;
    border: none;
}

.search-bar img {
    height: 100%;
    filter: invert(0%) sepia(0%) saturate(18%) hue-rotate(293deg) brightness(95%) contrast(105%);
}

.top-bar a {
    width: 25%;
    min-width: 200px;
}

.add-photo {
    height: 60px;
    /*width: 100%;*/
    font-size: 2rem;
    background-color: var(--red);
    color: var(--black);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 8px;
}

.add-photo img {
    height: 100%;
}

@media (max-width: 1150px) {
    .top-name {
        font-size: 2.5rem;
        margin: 16px;
    }

    .top-bar {
        gap: 16px;
    }

    .search-bar {
        height: 50px;
        width: 65%;
        margin: 20px 0;
    }

    .search-bar input {
        font-size: 1.8rem;
    }

    .add-photo {
        min-width: unset;
        height: 50px;
    }

    .add-photo div {
        display: none;
    }
}
