
:root {
    --black: #000000;
    --red: #FF0C63;
    --white: #FFFFFF;
}

* {
    font-family: Megrim, serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    background: var(--black);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.sidebar {
    height: 100%;
    background: var(--white);
    color: var(--red);
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.main {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 16px;
}

.name {
    font-size: 6rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.options a {
    text-decoration: none;
}

.option {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    padding-right: 10px;
}

.option div {
    font-size: 2.5rem;
    color: var(--red);
}

.option img {
    height: 60px;
    filter: invert(0%) sepia(0%) saturate(18%) hue-rotate(293deg) brightness(95%) contrast(105%);
}

.active, .option:hover {
    border-radius: 20px;
    background: var(--black);
}

.active img, .option:hover img {
    filter: invert(20%) sepia(78%) saturate(5469%) hue-rotate(330deg) brightness(100%) contrast(105%);
}

@media (max-width: 1150px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .sidebar {
        height: 64px;
        min-height: 64px;
    }

    .name {
        display: none;
    }

    .options {
        flex-direction: row;
        gap: 30px;
    }

    .option {
        padding-right: 0;
    }

    .option img {
        height: 42px;
    }

    .option div  {
        display: none;
    }
}
